<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" href="css/micss.css" />

</head>
<body>
	<div>
		<a href="admin/">acceder a la administracion de la tienda</a>
	</div>

<div style="font-size: 12px; margin: 5px; padding: 3px 8px; display: inline-block; border: 1px solid #ccc; border-radius: 8px;">
  Idioma: 
  <a href="?idioma=fr" style="text-decoration: none; margin-right: auto; padding: 3px; border-radius: 8px; color: #333;">FRANÇAIS</a>
  <a href="?idioma=en" style="text-decoration: none; color: #333; margin-right: auto; padding: 3px; border-radius: 8px;">ENGLISH</a>
</div>

<div th:text="#{titulo.bienvenida}" ></div>

	<div id="menu">
		<a href="#" id="menu-inicio">Inicio</a> 
		<a href="#" id="menu-identificarme">Identificarme</a>
		<a href="#" id="menu-registrarme">Registrarme</a> 
		<a href="#" id="menu-carrito">Carrito</a>
		<a href="#" id="menu-mis-pedidos">Mis pedidos</a>
		<a href="#" id="menu-mis-datos">Mis datos personales</a>
		<a href="#" id="menu-cerrar-sesion" style="visibility: hidden;">cerrar sesion</a>
	</div>

	<div id="contenedor"></div>

	<script src="librerias_js/jquery.js"></script>
	<script src="librerias_js/mustache.js"></script>
	<script src="librerias_js/js.cookie.min.js" ></script>
	
	<script src="javascript/globales.js" ></script>
	<script src="javascript/variables_plantillas.js"></script>
	
	<!-- <script src="javascript/variables_plantillas.js"></script> -->
	
	<script src="javascript/operaciones.js"></script>
	<script src="javascript/operaciones_checkout.js" ></script>
	<script src="javascript/menu.js"></script>
	<script src="javascript/validaciones.js"></script>
	<script>
		//listamos productos
		obtenerProductos()
	</script>

</body>
</html>