<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ByteCoffe</title>

<link rel="stylesheet" href="css/micssInicio.css" />
<link rel="stylesheet" href="css/micssForms.css" />
<link rel="stylesheet" href="css/micssCarrito.css" />


</head>
<body>

    <header>
        <div class="announcement-bar">
            <p>ENVÍOS NACIONALES GRATIS EN PEDIDOS SUPERIORES A 20€ (PENÍNSULA)</p>
        </div>
        <nav class="navbar">
            <div class="logo">
                <img src="imagenes_base/beany-of-coffe-animated-like-old-cartoons-removebg-preview.png" alt="Beany Wood Logo">
            </div>
            
     
            	<div id="menu">
            	<ul class="nav-links">
	                <li><a href="#" id="menu-inicio">Inicio</a></li>
	                <li><a href="#" id="menu-identificarme">Identificarme</a></li>
	                <li><a href="#" id="menu-registrarme">Registrarme</a> </li>
	                <li><a href="#" id="menu-carrito">Carrito</a></li>
	                <li><a href="#" id="menu-cerrar-sesion" style="visibility: hidden;">cerrar sesion</a></li>
            	</ul>
            	</div>

            <div class="nav-buttons menu">
                <a href="#" id="menu-identificarme2" class="icon-btn">👤</a>
               	<a href="#" id="menu-carrito2" class="icon-btn">🛒</a>
            </div>
        </nav>
    </header>
	<div>
		<a href="admin/">acceder a la administracion de la tienda</a>
	</div>

<div class="language-selector">
  Idioma: 
  <a href="?idioma=fr">FRANÇAIS</a>
  <a href="?idioma=en">ENGLISH</a>
</div>

<div class="bienvenida" th:text="#{titulo.bienvenida}" ></div>

	<div id="contenedor"></div>

	<script src="librerias_js/jquery.js"></script>
	<script src="librerias_js/mustache.js"></script>
	<script src="librerias_js/js.cookie.min.js" ></script>
	
	<script src="javascript/globales.js" ></script>
	<script src="javascript/variables_plantillas.js"></script>
	
	<!-- <script src="javascript/variables_plantillas.js"></script> -->
	
	<script src="javascript/operaciones.js"></script>
	<script src="javascript/operaciones_checkout.js" ></script>
	<script src="javascript/menu.js"></script>
	<script src="javascript/validaciones.js"></script>
	<script>
		//listamos productos
		obtenerProductos()
	</script>

</body>
</html>